@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --dark-gray: #0a577a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-vazirmatn: var(--font-vazirmatn);
}

* {
  transition: 0.25s all;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), var(--font-sans);
}
html {
  direction: rtl;
}
input:focus {
  outline: unset;
}

.liquid {
  background: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(10px);
}

.bg-main {
  background-image: url(../public/smoke.png);
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.bg-auth {
  background-image: url(../public/smoke.png);
  background-size: cover;
}

.text-small {
  font-size: 10px !important;
}

.menu-item-active {
  background-image: linear-gradient(
    to left,
    rgba(88, 136, 224, 0.158),
    rgb(74, 0, 158),
    rgb(0, 102, 255)
  );
}
